<p id="notice"><%= notice %></p>

<h1>Takens</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @takens.each do |taken| %>
      <tr>
        <td><%= taken.student %></td>
        <td><%= taken.course %></td>
        <td><%= link_to 'Show', taken %></td>
        <td><%= link_to 'Edit', edit_taken_path(taken) %></td>
        <td><%= link_to 'Destroy', taken, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taken', new_taken_path %>
