<p id="notice"><%= notice %></p>

<p>
  <strong>S name:</strong>
  <%= @student.S_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.Gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.Address %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
