<p id="notice"><%= notice %></p>

<p>
  <strong>Sec no:</strong>
  <%= @section.Sec_no %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @section.Strength %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
