<%= form_for(taught) do |f| %>
  <% if taught.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taught.errors.count, "error") %> prohibited this taught from being saved:</h2>

      <ul>
      <% taught.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field">
    <%= f.label :course_id %>
    <%= f.text_field :course_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :instructorr_id %>
    <%= f.text_field :instructorr_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
