<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @taught.course %>
</p>

<p>
  <strong>Instructorr:</strong>
  <%= @taught.instructorr %>
</p>

<%= link_to 'Edit', edit_taught_path(@taught) %> |
<%= link_to 'Back', taughts_path %>
