<%= form_for(attend) do |f| %>
  <% if attend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attend.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
      <% attend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field">
    <%= f.label :instructorr_id %>
    <%= f.text_field :instructorr_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :class_room_id %>
    <%= f.text_field :class_room_id, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
